16___Sentimento_IA.json
{
  "name": "16 - Sentimento IA",
  "nodes": [
    {
      "parameters": {},
      "id": "53f80f61-2a73-42b6-af6c-c8e34ca6071f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "df3acacd-65dc-41f2-ba3e-e0629ae7b011",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        920,
        760
      ],
      "credentials": {
        "groqApi": {
          "id": "QfhdClyrO7Pmf4Dy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05a78667-6032-4468-a4c1-94a2d955a9db",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1360,
        460
      ],
      "credentials": {
        "groqApi": {
          "id": "QfhdClyrO7Pmf4Dy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aa97f700-28fd-4045-bb2d-2207f6c5ff8d",
      "name": "Groq Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1400,
        940
      ],
      "credentials": {
        "groqApi": {
          "id": "QfhdClyrO7Pmf4Dy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "A pessoa que esta a perguntar é um promotor do produto, então agradeça por isso."
            }
          ]
        }
      },
      "id": "5a7bcff3-5a91-48a4-a715-3185fa673cd9",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1340,
        260
      ]
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "A pessoa é um difamador, questione o que se passa, tentar entender o porquê para que assim ela se torne um promotor do produto."
            }
          ]
        }
      },
      "id": "0a07dc95-d845-4cb6-8404-9382ff501159",
      "name": "Basic LLM Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1380,
        740
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Promotor",
              "description": "Pessoa que gosta do produto"
            },
            {
              "category": "Passivo",
              "description": "Pessoa que é indiferente"
            },
            {
              "category": "Difamador",
              "description": "Pessoa que não gosta do produto"
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "id": "49e28e3b-7388-40e2-97cc-8fed53d94169",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        900,
        540
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11e8eb16-5a57-4867-b069-4e30d0437dbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "ILdCRCeaXWIozC1k",
  "tags": [
    {
      "createdAt": "2024-10-28T17:25:54.536Z",
      "updatedAt": "2024-10-28T17:25:54.536Z",
      "id": "xr1jyx0fZ70Ok7DC",
      "name": "Hiperautomação"
    }
  ]
}