17___Postgres_Chat_Memory.json
{
  "name": "17 - Postgres Chat Memory",
  "nodes": [
    {
      "parameters": {},
      "id": "a0f18347-fe4e-40f3-9858-e51b7bdeadf2",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7665165e-297a-4dc2-a072-a2f8565a7e35",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        920,
        760
      ],
      "credentials": {
        "groqApi": {
          "id": "QfhdClyrO7Pmf4Dy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "0d83366c-3793-4f81-a15b-bf86d22f951c",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1020,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "Us9SQbcSH0QBHFJu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc0f7701-9400-4db1-a3df-df9a904d3aa9",
              "name": "sessionId",
              "value": "=456",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ac415178-4de8-4163-8566-a56c8ab4f990",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        540
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "98118aec-5d00-4106-bc4b-71b814cde29c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        900,
        540
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "464619f8-43b9-41f1-b6dc-f58844c3b1fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "Mmv6IMqyuJuuAP9t",
  "tags": [
    {
      "createdAt": "2024-10-28T17:25:54.536Z",
      "updatedAt": "2024-10-28T17:25:54.536Z",
      "id": "xr1jyx0fZ70Ok7DC",
      "name": "Hiperautomação"
    }
  ]
}