18___Information_Extractor.json
{
  "name": "18 - Information Extractor",
  "nodes": [
    {
      "parameters": {},
      "id": "920851d0-0964-4e41-bc70-448fc94c988a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        540
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "attributes": {
          "attributes": [
            {
              "name": "nome",
              "description": "Nome do cliente"
            },
            {
              "name": "idade",
              "type": "number",
              "description": "Idade do cliente"
            }
          ]
        },
        "options": {}
      },
      "id": "038a527e-4731-4fce-98f7-32468f8cefe5",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        940,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "78292f28-d18f-46d5-9a7e-df83e10097df",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        960,
        760
      ],
      "credentials": {
        "groqApi": {
          "id": "QfhdClyrO7Pmf4Dy",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2945fdbf-e59a-4aba-aeae-65fd57a8dd0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "qowksWS7QiFWofa4",
  "tags": [
    {
      "createdAt": "2024-10-28T17:25:54.536Z",
      "updatedAt": "2024-10-28T17:25:54.536Z",
      "id": "xr1jyx0fZ70Ok7DC",
      "name": "Hiperautomação"
    }
  ]
}